@import url("Reset.css");
body{
	font-size: 13px;
	color: #555;
	margin: 0px;
	padding: 0px;
	background-repeat: repeat;
	background-position: left top;
	background:#fff;
	font-family:Arial, Helvetica, sans-serif;
	overflow-y: scroll;
}

a{
	color: rgb(234, 66, 102);
	text-decoration: none;
	transition: color 0.1s linear;
}
a:hover{
	color: rgba(234, 66, 102, 0.8);
}

#menu {
	display: none;
	position: fixed;
	top: 30px;
	left: 30px;
	z-index: 50;
}
	#menu ul {
		display: none;
		position: absolute;
		top: 26px;
		padding:8px 0;
		margin: 0;
		border: 1px solid #efefef;
		border-bottom: 1px solid #ddd;
		background: rgba(255,255,255,0.95);
	}
	#menu:hover ul{
		display: block;
	}
		#menu ul li{
			min-width:130px;
		}
			#menu ul li a {
				display: block;
				font-size:14px;
				padding: 8px 20px;
				color:black;
			}
			#menu ul li a:hover {
				background-color:rgb(220, 220, 220);
			}
	#menu>a{
		position: absolute;
		padding: 5px;
		background: rgba(255,255,255,0.95);
		border: 1px solid transparent;
		z-index: 5;
	}
	#menu:hover>a {
		border: 1px solid #efefef;
		border-bottom: none;
	}
		#menu>a i{
			display:block;
			background-image:url(../images/menu.png);
			width:16px;
			height:16px;
		}

.Surface{
	position:relative;
	min-height:500px;
}
.wrapper{
	width:750px;
	margin:0 auto;
}
.Surface .Header{
	position: relative;
	width: 100%;
	height: 500px;
	background-color:black;
}
		@keyframes fadeOut { from { opacity:1; } to { opacity:0.8; } }
		.Surface .Header .bg{
			position:absolute;
			width:100%;
			height:100%;
			background-image: url('../images/header.png');
			background-position: center center;
			background-size: cover;
			animation: fadeOut 1.6s ease-in;
			animation-fill-mode:forwards;
		}
		.Surface .Header .wrapper{
			height:100%;
			position:relative;
		}
			@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
			.Surface .Header .greeting{
				opacity:0;
				color: white;
				position: absolute;
				margin: 0 auto;
				top: 50%;
				margin-top: -50px;
				width:100%;
				text-align:center;
				animation: fadeIn 1.7s ease;
				animation-fill-mode:forwards;
				animation-delay: 0.5s;
			}
				.Surface .Header .greeting .description{
					opacity:0.75;
					font-size:25px;
					letter-spacing: 1px;
					margin-top:8px;
				}

	section{
		margin:40px 0;
	}
		section article{
			font-size: 60px;
			font-weight: 300;
			font-family: 'Open Sans', sans-serif;
			letter-spacing: -2px;
			margin-bottom:30px;
			font-weight:bold;
		}

	.bio{
		padding-top:20px;
	}
	.bio .quote{
		text-align:center;
		color:rgba(0,0,0,0.44);
		line-height:1.15;
	}

	.footer{
		text-align: center;
		padding:200px 0;
		position: relative;
		background-color: rgb(110, 90, 85);
	}
			.footer ul{
				margin-top: 20px;
			}
				.footer ul li{
					display:inline-block;
					position:relative;
					text-align: center;
					margin-right: -2px;
				}
					.footer ul li a{
						font-size:16px;
						color:white;
						display:block;
						position:relative;
						float:left;
						width:270px;
						padding:20px;
						text-decoration: none;
						background:rgba(244, 244, 244, 0.1);
					}
					.footer ul li a:hover{
						background:rgba(244, 244, 244, 0.2);
					}

h1,h2,h3,h4{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	letter-spacing: -2px;
}
h1{
	font-size: 60px;
}
h2{
	font-size: 45px;
}
h3{
	font-size: 40px;
}
h4{
	font-size: 35px;
}
p{
	font-family: 'Lora', serif;
	font-size:22px;
	line-height: 1.5;
	margin-bottom:30px;
}
